header {
    background-color: blueviolet;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px;
    margin: 10px;
}

.s1 {
    background: rgb(232, 153, 232);
    padding: 10%;
    display: flex;
    color: black;
}

.s1>div {
    flex-basis: 50%;
}

.s1 img {
    width: 100%;
    height: 100%;
}

.doctorcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5%;
    gap: 20px;
}

img {
    width: 90%;
    height: 60%;
}

.addnewdoctor {
    width: 70%;
    margin: auto;
    text-align: center;
}

form {
    border: 2px solid black;
    padding: 5%;
}

input,
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

form button {
    width: 100%;
    background: black;
    color: white;
}